/*开通客户*/
.contentList ul li{
	margin: 0 auto;
	width: 92%;
	padding: 0 2%;
	background: #f2f2f2;
	height: 40px;
	line-height: 40px;
}
.accountSettings-title{
	margin: 0 auto;
	width: 96%;
	background: #f2f2f2;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: 20px;
}
.accountSettings-box{
	margin-top: 20px;
}
.contentList .accountSettings-box li{
	margin: 0 auto;
	width: 98%;
	background: #fff;
	padding: 0;
	margin-top: 10px;
}
.tishi{
	color: #ff0000;
	margin-left: 15px;
}
.contentList .accountSettings-box li .m-name{
	display: block;
	width: 90px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: right;
	margin-left: 10px;
}
.contentList .accountSettings-box li input{
	float: left;
	width: 183px;
	padding-left: 5px;
	height: 35px;
	border: 1px solid #e8eff0;
	border-left: 0;
}
.contentList .accountSettings-box li select{
	float: left;
	width: 188px;
	height: 37px;
	border: 1px solid #e8eff0;
	border-left: 0;
}
.contentList .accountSettings-box li textarea{
	border: 1px solid #e8eff0;
	resize: none;
	padding: 5px;
}
.contentList .accountSettings-box li input.checkbox{
	width: 25px;
	height: 17px;
	margin-left: 30px;
	margin-top: 10px;
}
.contentList .accountSettings-box li .m-name1{
	display: block;
	width: 50px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: center;
	margin-right: 10px;
}
.contentList .accountSettings-box li .m-name3{
	display: block;
	width: 80px;
	padding-left: 10px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: left;
	margin-left: 10px;
}
.sendbutton{
	margin: 0 auto;
	width: 30%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #428bca;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
