.contentBoxTitle{
	margin: 0 auto;
	width: 96%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.contentList{
	padding-bottom: 20px;
}
.contentList ul li{
	margin: 0 auto;
	width: 92%;
	padding: 0 2%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.contentList li .infoName{
	display: block;
	width: 90px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: right;
	margin-left: 10px;
}
.contentList  li input{
	float: left;
	width: 288px;
	height: 35px;
	border: 1px solid #e8eff0;
	border-left: 0;
}
.sendbutton{
	width: 30%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #4C8FBD;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5%;
}
.sendbutton:hover{
	background: #428bca;
}
