/*开通客户*/
.set-nav {
	margin: 0 auto;
	width: 96%;
	height: 40px;
	margin-top: 20px;
	border-bottom: 1px solid #2B7DBC;
}
.set-nav a {
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.set-nav a.active {
	color: #fff;
	background: #2B7DBC;
}
.contentList ul li{
	margin: 0 auto;
	width: 92%;
	padding: 0 2%;
	background: #f2f2f2;
	height: 40px;
	line-height: 40px;
}
.accountSettings-title{
	margin: 0 auto;
	width: 96%;
	background: #f2f2f2;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: 20px;
}
.accountSettings-box{
	margin-top: 20px;
}
.contentList .accountSettings-box li{
	margin: 0 auto;
	width: 98%;
	background: #fff;
	padding: 0;
	margin-top: 10px;
}
.tishi{
	color: #ff0000;
	margin-left: 15px;
}
.contentList .accountSettings-box li .m-name{
	display: block;
	width: 90px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: right;
	margin-left: 10px;
}
.contentList .accountSettings-box li input{
	float: left;
	width: 188px;
	height: 35px;
	border: 1px solid #e8eff0;
	border-left: 0;
}
.contentList .accountSettings-box li select{
	float: left;
	width: 188px;
	height: 37px;
	border: 1px solid #e8eff0;
	border-left: 0;
}
.contentList .accountSettings-box li textarea{
	border: 1px solid #e8eff0;
	resize: none;
	padding: 5px;
}
.contentList .accountSettings-box li input.checkbox{
	width: 35px;
	height: 37px;
	margin-left: 30px;
}
.contentList .accountSettings-box li .m-name1{
	display: block;
	width: 50px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: center;
	margin-right: 10px;
}
.contentList .accountSettings-box li .m-name3{
	display: block;
	width: 80px;
	padding-left: 10px;
	height: 35px;
	float: left;
	background: #e8eff0;
	border: 1px solid #e8eff0;
	text-align: left;
	margin-left: 10px;
}
.sendbutton{
	width: 20%;
	float: left;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #438EB9;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 2%;
}
.sendbutton:hover{
	background: #428bca;
}
.seachtext{
	width: 72%;
	float: left;
	margin-left: 3%;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: right;
}
.table-cell{
	margin: 0 auto;
	width: 96%;
	margin-bottom: 20px;
}
.table-cell table{
	width: 100%;
	border-color: #e8eff0;
}
.table-cell table th{
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.table-cell table tr{
	cursor: pointer;
}
.table-cell table td{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.pagenav{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: right;
}
.pagenav a{
	color: #2B7DBC;
	margin-left: 10px;
}
.pagenav input{
	width: 20px;
	margin-left: 10px;
}
