* {
	padding: 0;
	margin: 0;
	list-style: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
a:hover,
a:active {
	outline: 0
}
body {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff;
	float: left;
}
a {
	color: #08c;
	text-decoration: none
}
a:hover {
	color: #005580;
}
.all {
	margin: 0 auto;
	max-width: 100%;
	min-width: 1100px;
}
.main {
	width: 100%;
	float: left;
}
.header {
	margin: 0 auto;
	width: 100%;
	height: 79px;
	background: url(../img/head-bg.png) repeat-x;
	border-bottom: 5px solid #3f566c;
	position: relative;
}
.header strong {
	position: absolute;
	left: 46%;
	top: 35%;
	z-index: 9;
	color: #929ea9;
}
.content {
	margin: 0 auto;
	width: 100%;
	background: #eeeeee;
}
.pagetitle {
	width: 220px;
	padding-top: 25px;
}
.pagetitle h1 {
	padding-left: 25px;
	color: #929ea9;
}
.pagetitle p {
	padding-left: 25px;
	color: #929ea9;
	margin-top: 5px;
}
.pagetitle p a {
	color: #929ea9;
}
.sidebar {
	display: block;
	float: left;
	position: relative;
	width: 220px;
	height: 100%;
	background: #3f566c;
}
.sidebar ul li {
	width: 100%;
	min-height: 35px;
	background: #3d5265;
	border-bottom: 1px solid #34495e;
	border-top: 3px solid #3f566c;
}
.sidebar ul li:first-child {
	border-top: 0;
}
.sidebar ul li a {
	height: 35px;
	line-height: 35px;
	display: block;
	color: #AAAAAA;
	padding-left: 25px;
	position: relative;
}
.sidebar ul li a:hover {
	background: #4b6276;
}
.sidebar ul li.active a {
	background: #4b6276;
}
.sidebar ul .submenu ul li.active a:after {
	display: block;
	content: "";
	position: absolute!important;
	right: 0;
	top: 4px;
	border: 8px solid transparent;
	border-width: 14px 10px;
	border-right-color: #eee;
}
.sidebar ul .submenu {
	border-bottom: 0;
	background: #34495e;
}
.sidebar ul .submenu ul li a {
	padding-left: 35px;
}
.sidebar ul .submenu a span {
	font-weight: bold;
}
.content-box {
	padding-bottom: 25px;
	position: relative;
	min-height: 900px;
	width: auto;
	margin-left: 220px;
}
.content-title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border-bottom: 1px solid #34495e;
}
.content-title h2 {
	color: #34495e;
	padding-left: 3%;
}
