.content-inner {
	margin: 0 auto;
	width: 90%;
	padding: 2%;
	margin-top: 25px;
	border: 1px solid #ccc;
	background: #fff;
}
.content-inner ul li {
	width: 100%;
	min-height: 40px;
}
.content-inner ul li .con-name {
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.content-inner ul li .con-info {
	width: auto;
	height: 40px;
	line-height: 40px;
	float: left;
	font-weight: bold;
	margin-left: 10px;
}
.content-inner ul li.scan {
	min-height: 105px;
	margin-top: 20px;
}
.content-inner ul li.scan .con-name {
	height: 105px;
	line-height: 105px;
}
.content-inner ul li.scan .con-info img {
	vertical-align: middle;
	margin-right: 10px;
	float: left;
}
.content-inner ul li.scan .con-info .scan-box {
	width: 70px;
	height: 25px;
	position: relative;
	width: 70px;
	float: left;
	margin-top: 40px;
	overflow: hidden;
}
.content-inner ul li.scan .con-info input {
	width: 70px;
	position: absolute;
	left: 0;
	top: 0;
	height: 25px;
	opacity: 0;
}
.content-inner ul li.scan .con-info .scan-box button {
	display: block;
	width: 70px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 16px;
}
.content-inner ul li .con-info select{
	width: 100px;
	height: 30px;
}
.content-inner ul li .con-info input{
	width: 303px;
	height: 30px;
}
.btn-box{
	width: 100%;
	height: 35px;
	margin-top: 30px;
}
.btn-box button{
	display: block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-top: 30px;
	text-align: center;
	margin-left: 150px;
}
