/* defaults */
html, body
{
	width:100%;
	margin:0px auto;
	padding:0px;
	font-size:12px;
	text-align:center;
	font-family:'\5FAE\8F6F\96C5\9ED1','\534E\6587\7EC6\9ED1',MingLiu;
}

div
{
	margin:0px auto;
	text-align:center;
}

a
{
	text-decoration:blink;
	blr:expression_r(this.onFocus=this.blur());
	outline:none;
}

a:link, a:visited, a:hover, a:active
{
	color:#555555;
}

a:hover
{
	text-decoration:underline;
}

img
{
	border:0px;
}

.clear
{
	clear:both;
}

.light
{
	color:#FF0000;
}

/* index.html */
.header
{
	width:100%;
	height:580px;
}

/* 顶部登录 */
.top
{
	width:100%;
	height:26px;
	background-color:#DDDDDD;
}

.topLogin
{
	width:1000px;
	height:26px;
	line-height:26px;
	text-align:right;
}

/* Logo */
.logo
{
	width:1000px;
	height:87px;
	text-align:left;
}

.logo img
{
	width:180px;
	height:87px;
}

/* 导航 */
.nav
{
	width:100%;
	height:37px;
	line-height:37px;
	background-color:#404040;
	font-size:16px;
	text-align:left;
	letter-spacing:2px;
}

.navBox
{
	width:1000px;
	height:37px;
	position:relative;
	*z-index:99;  /* IE7 */
}

.navSplit
{
	width:1px;
	float:left;
	height:37px;
	background-color:#848383;
}

.navMenu
{
	min-width:10px;
	float:left;
	height:37px;
	padding:0px 30px;
}

.navMenu a
{
	color:#FFFFFF;
}

.navMenu a:hover
{
	text-decoration:blink;
}

.navOnIndex, .navOnDetail, .navOnSol, .navOnPro, .navOnUs, .navOnView
{
	width:10px;
	height:5px;
	position:absolute;
	bottom:-5px;
	z-index:999;
}

.navOnIndex
{
	left:46px;
}

.navOnDetail, .navOnView
{
	left:164px;
	*left:163px;  /* IE7 */
}

.navOnSol
{
	left:297px;
	*left:294px;  /* IE7 */
}

.navOnPro
{
	left:422px;
	*left:416px;  /* IE7 */
}

.navOnUs
{
	left:527px;
	*left:520px;  /* IE7 */
}

/* Banner */
.banner, .banner img
{
	width:1000px;
	height:430px;
}

div.wrapper 
{ 
	width:1000px;
	position:relative; 
}

.fn-clear 
{ 
	zoom:1; 
}

.box_skitter 
{ 
	position:relative; 
	background:none; 
}

.box_skitter ul 
{ 
	display: none; 
}

.box_skitter .container_skitter 
{ 
	overflow:hidden; 
	position:relative; 
}

.box_skitter .image
 { 
	overflow: hidden; 
 }
 
.box_skitter .image img 
{ 
	display: none; 
}

.box_skitter .box_clone 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100px; 
	overflow: hidden; 
	display: none; 
	z-index: 20; 
}

.box_skitter .box_clone img 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 20; 
}

.box_skitter .prev_button 
{ 
	position: absolute; 
	top: 50%; 
	left: 20px; 
	z-index: 100; 
	width: 57px; 
	height: 62px; 
	overflow: hidden; 
	text-indent: -9999em; 
	margin-top: -25px; 
	background: url(../images/prev.png) no-repeat left top !important;
}

.box_skitter .next_button 
{ 
	position: absolute; 
	top: 50%; 
	right: 20px; 
	z-index: 100; 
	width: 57px; 
	height: 62px; 
	overflow: hidden; 
	text-indent: -9999em; 
	margin-top: -25px; 
	background: url(../images/next.png) no-repeat left top !important;
}

.box_skitter .label_skitter
{ 
	z-index: 150; 
	position: absolute; 
	display: none; 
}

.loading 
{ 
	position: absolute; 
	top: 50%; 
	right: 50%; 
	z-index: 10000; 
	margin: -16px -16px; 
	color: #fff; 
	text-indent: -9999em; 
	overflow: hidden; 
	background: url(../images/ajax-loader.gif) no-repeat left top; 
	width: 31px; 
	height: 31px; 
}

#slideshow { 
	width: 1000px; 
	height: 430px; 
}

#slideshow ul { 
	display: none; 
}

/* 主体内容 */
.main
{
	width:1000px;
}

/* 客户 */
.user
{
	width:1000px;
	height:322px;
	margin-top:23px;
}

.userBar
{
	width:988px;
	height:34px;
	line-height:34px;
	padding-left:12px;
	background:url(../images/bar.png) repeat-x;
	text-align:left;
	font-size:18px;
	color:#3e3e3e;
	font-weight:bold;
}

.userBox
{
	width:1000px;
	height:280px;
	margin-top:8px;
}

.userItem, .userItemEnd
{
	width:233px;
	float:left;
	height:278px;
	border:1px solid #c8c9c9;
}

.userItem
{
	margin-right:20px;
}

.userImg
{
	width:229px;
	height:238px;
	padding:2px;
}

.userImg img
{
	width:229px;
	height:238px;
}

.userTitle
{
	width:219px;
	height:38px;
	line-height:38px;
	padding:0px 5px;
	font-size:13px;
	text-align:left;
}

/* 机构动态/我们的观点 */
.info
{
	width:1000px;
	height:344px;
	margin-top:29px;
}

.infoUnit
{
	width:491px;
	float:left;
	height:344px;
}

.infoWnt
{
	width:491px;
	float:left;
	height:344px;
	margin-left:17px;
}

.infoUnitBar
{
	width:481px;
	height:34px;
	line-height:34px;
	padding-left:10px;
	background:url(../images/bar.png) repeat-x;
}

.infoUnitBarTit
{
	width:440px;
	float:left;
	height:34px;
	text-align:left;
	font-size:18px;
	color:#393839;
	font-weight:bold;
}

.infoUnitBarMore
{
	width:41px;
	float:left;
	height:34px;
	font-family:Arial;
	font-size:8px;
}

.infoUnitCont
{
	width:491px;
	height:297px;
	margin-top:13px;
}

.infoUnitLeft
{
	width:226px;
	float:left;
	height:297px;
	margin-right:20px;
}

.infoUnitLeftImg, .infoUnitLeftImg img
{
	width:226px;
	height:169px;
}

.infoUnitLeftTit
{
	width:226px;
	height:22px;
	line-height:22px;
	margin-top:13px;
	font-size:13px;
	text-align:left;
	font-weight:bold;
}

.infoUnitLeftCt
{
	width:226px;
	height:93px;
	line-height:22px;
	font-size:12px;
	text-align:left;
	color:#7f7e7e;
}

.infoUnitRight
{
	width:242px;
	float:left;
	height:297px;
}

.infoRightItem, .infoRightItemEnd
{
	width:242px;
	height:87px;
	margin-bottom:9px;
}

.infoRightItem
{
	border-bottom:1px solid #c9c9c9;
}

.infoItemIts
{
	width:57px;
	float:left;
	height:87px;
	margin-right:7px;
}

.infoItemImg
{
	border:1px solid #CCCCCC; 
	width:57px; 
	height:57px; 
	margin-bottom:10px;
}

.UIRoundedImage_Corners {
background:transparent none repeat scroll 0 0;
display:block;height:100%;width:100%;
overflow:hidden;
position:absolute;top:0;left:0;
}

.infoItemImg .infoItemImgBg div
{
	padding:10px;
	text-indent:2em;
} 

.infoItemImgBg{
	height:49px;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8
{
	height:1px; 
	font-size:1px; 
	overflow:hidden; 
	display:block;
} 

.b1,.b8
{
	margin:0 5px;
} 

.b2,.b7
{
	margin:0 3px;
	border-right:2px solid; 
	border-left:2px solid;
} 

.b3,.b6
{
	margin:0 2px;
	border-right:1px solid; 
	border-left:1px solid;
} 

.b4,.b5
{
	margin:0 1px;
	border-right:1px solid; 
	border-left:1px solid; 
	height:2px;
} 

.infoItemImgBg 
{
	border-right:1px solid;
	border-left:1px solid;
	overflow:hidden;
} 

.infoItemImg b.b2
{
	background-position:-4px top;
} 

.infoItemImg b.b3
{
	background-position:-2px -1px;
} 

.infoItemImg b.b4
{
	background-position:-1px -2px;
} 

.infoItemImg b.b7
{
	background-position:-4px bottom;
} 

.infoItemImg b.b6
{
	background-position:-2px bottom;
} 

.infoItemImg b.b5
{
	background-position:-1px bottom;
} 

.imgReBorder .b2,.imgReBorder .b3,.imgReBorder .b4,.imgReBorder .b5,.imgReBorder .b6,.imgReBorder .b7,.imgReBorder .infoItemImgBg
{
	border-color:#dce4f5;
} 

.imgReBorder .b1,.imgReBorder .b8
{
	background:#dce4f5
} 

.infoItemBts
{
	width:178px;
	float:left;
	height:87px;
}

.infoItemTit
{
	width:178px;
	height:20px;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	color:#555555;
}

.infoItemCts
{
	width:178px;
	height:42px;
	line-height:20px;
	color:#7f7e7e;
	text-align:left;
}

.infoItemDate
{
	width:178px;
	height:24px;
	line-height:18px;
	color:#7f7e7e;
	text-align:left;
}

.footer
{
	width:1000px;
	height:96px;
	line-height:96px;
	background:url(../images/footbg.jpg) repeat-x;
	color:#555555;
}

/* us.html */
.about
{
	width:1000px;
	height:332px;
	padding-top:28px;
	border-bottom:1px dashed #bebebe;
}

.aboutLeft
{
	width:170px;
	float:left;
	height:304px;
}

.aboutLeft img
{
	width:170px;
	height:304px;
}

.aboutRight
{
	width:830px;
	float:left;
	height:304px;
	text-align:left;
}

.aboutRight p
{
	margin:8px 0px;
	padding:0px;
}

.contact
{
	width:1000px;
	height:385px;
}

.contactLeft
{
	width:170px;
	float:left;
	height:385px;
}

.contactLeft img
{
	width:170px;
	height:385px;
}

.contactMid
{
	width:256px;
	float:left;
	height:337px;
	padding-top:48px;
}

.contactTg
{
	width:256px;
	height:26px;
	font-size:16px;
	color:#595959;
	text-align:left;
}

.contactRight
{
	width:574px;
	float:left;
	height:385px;
}

.contactRight img
{
	width:574px;
	height:385px;
}

/* view.html */
.listTag
{
	width:998px;
	height:33px;
	line-height:33px;
	margin-top:31px;
	border:1px solid #ededed;
	color:#393839;
	font-size:18px;
}

.listTagBk, .listTagBk_On
{
	width:499px;
	float:left;
	height:33px;
	cursor:pointer;
}

.listTagBk_On
{
	background-color:#ededed;
}

.listBox
{
	width:1000px;
	min-height:710px;
	margin-top:41px;
	display:none;
}

.listItem
{
	width:1000px;
	height:119px;
	border-bottom:1px dashed #b7b7b7;
	padding-top:17px;
}

.listItemTd
{
	width:1000px;
	height:50px;
	line-height:50px;
}

.listItemTitle
{
	width:800px;
	float:left;
	height:50px;
	font-size:24px;
	text-align:left;
}

.listItemTitle a
{
	color:#393839;
}

.listItemDate
{
	width:200px;
	float:left;
	height:50px;
	font-size:16px;
	color:#686868;
	text-align:right;
}

.listItemCont
{
	width:1000px;
	height:60px;
	line-height:30px;
	font-size:16px;
	color:#a6a5a6;
	text-align:left;
	letter-spacing:1px;
}

.listItemCont a
{
	color:#a6a5a6;
}

.listPage
{
	width:1000px;
	height:132px;
	line-height:120px;
	text-align:right;
	color:#595959;
}

.listPage span
{
	margin-right:14px;
}

.listPage a
{
	margin:0px 4px;
	color:#595959;
}

.listPage .listPageTb
{
	text-decoration:underline;
	margin:0px 12px;
}

/* solution.html */
.sol
{
	width:1000px;
	height:280px;
	margin-top:24px;
}

.solTitle
{
	width:990px;
	height:34px;
	line-height:34px;
	padding-left:10px;
	font-size:18px;
	color:#3e3e3e;
	background:url(../images/bar.png) repeat-x;
	text-align:left;
	font-weight:bold;
}

.solCont
{
	width:1000px;
	height:246px;
	text-align:left;
	letter-spacing:1px;
}

.solCont p
{
	margin:30px 0px;
	padding:0px;
}

/* pro.html */
.pro
{
	width:1000px;
	min-height:100px;
	margin-top:30px;
}

/* detail.html */
.detail
{	
	width:1000px;
	min-height:100px;
	margin-top:50px;
}

.detailTitle
{
	width:1000px;
	height:80px;
	line-height:80px;
	font-size:34px;
	color:#333333;
	font-weight:bold;
}

.detailSub
{
	width:1000px;
	height:40px;
	font-size:16px;
	color:#949494;
}

.detailSub span
{
	margin:0px 25px;
}

.detailCont
{
	width:932px;
	min-height:100px;
	padding:34px;
	margin-bottom:100px;
	background-color:#f2f2f2;
	text-align:left;
	letter-spacing:1px;
}

.detailCont p
{
	margin-bottom:30px;
	padding:0px;
}




